/GalvoSystem/FirstTests/nbproject/private/
/GalvoSystem/FirstTests/firmware/FirstTests.X/nbproject/private/
/GalvoSystem/FirstTests/firmware/FirstTests.X/build/default/
/GalvoSystem/FirstTests/firmware/FirstTests.X/dist/default/
/GalvoSystem/moreTests/MoreTests/firmware/MoreTests.X/nbproject/private/
qtApp/build-AppR1-Desktop_Qt_5_11_0_clang_64bit-Debug/AppR1.app/Contents/MacOS/AppR1
/GalvoSystem/macTest/firmware/macTest.X/nbproject/private/
/GalvoSystem/macTest/firmware/macTest.X/build/default/
/GalvoSystem/macTest/firmware/macTest.X/dist/default/
/SerialSerf/SerialSerf/firmware/SerialSerf.X/nbproject/private/
/SerialSerf/SerialSerf/firmware/SerialSerf.X/build/default/
/SerialSerf/SerialSerf/firmware/SerialSerf.X/dist/default/
/GalvoSystem/serialSerf_II/serialSerf_II/firmware/serialSerf_II.X/nbproject/private/
/GalvoSystem/serialSerf_II/serialSerf_II/firmware/serialSerf_II.X/build/default/
/GalvoSystem/serialSerf_II/serialSerf_II/firmware/serialSerf_II.X/dist/default/
/GalvoSystem/Serial_Serf_III/Serial_Serf_III/firmware/Serial_Serf_III.X/nbproject/private/
/GalvoSystem/Serial_Serf_III/Serial_Serf_III/firmware/Serial_Serf_III.X/build/default/
/GalvoSystem/Serial_Serf_III/Serial_Serf_III/firmware/Serial_Serf_III.X/dist/default/
/GalvoSystem/Serial_Serf/firmware/Serial_Serf.X/nbproject/private/
/GalvoSystem/Serial_Serf/firmware/Serial_Serf.X/build/default/
/GalvoSystem/Serial_Serf/firmware/Serial_Serf.X/dist/default/
/Serial_FileModel/Serial_FileModel/firmware/Serial_FileModel.X/nbproject/private/
/Serial_FileModel/Serial_FileModel/firmware/Serial_FileModel.X/build/default/
/Serial_FileModel/Serial_FileModel/firmware/Serial_FileModel.X/dist/default/
/GalvoSystem/Final_Serial.X/nbproject/private/
/GalvoSystem/Final_Serial.X/build/default/
/GalvoSystem/Final_Serial/Final_Serial.X/dist/default/
/GalvoSystem/Final_Serial/Final_Serial.X/nbproject/private/
/GalvoSystem/Final_Serial/Final_Serial.X/build/default/
/GalvoSystem/SPI_Master/SPI_Master/firmware/SPI_Master.X/nbproject/private/
/GalvoSystem/SPI_Master/SPI_Master/firmware/SPI_Master.X/build/default/
/GalvoSystem/SPI_Master/SPI_Master/firmware/SPI_Master.X/dist/default/
/GalvoSystem/Final_Serial/firmware/Final_Serial.X/dist/default/
/GalvoSystem/GalvoAppR0/GalvoAppR0/firmware/GalvoAppR0.X/nbproject/private/
/GalvoSystem/GalvoAppR0/GalvoAppR0/firmware/GalvoAppR0.X/build/default/
/GalvoSystem/GalvoAppR0/GalvoAppR0/firmware/GalvoAppR0.X/dist/default/