/GalvoSystem/FirstTests/nbproject/private/
/GalvoSystem/FirstTests/firmware/FirstTests.X/nbproject/private/
/GalvoSystem/FirstTests/firmware/FirstTests.X/build/default/
/GalvoSystem/FirstTests/firmware/FirstTests.X/dist/default/
/GalvoSystem/moreTests/MoreTests/firmware/MoreTests.X/nbproject/private/
qtApp/build-AppR1-Desktop_Qt_5_11_0_clang_64bit-Debug/AppR1.app/Contents/MacOS/AppR1
