/GalvoSystem/FirstTests/nbproject/private/
/GalvoSystem/FirstTests/firmware/FirstTests.X/nbproject/private/
/GalvoSystem/FirstTests/firmware/FirstTests.X/build/default/
/GalvoSystem/FirstTests/firmware/FirstTests.X/dist/default/
/GalvoSystem/moreTests/MoreTests/firmware/MoreTests.X/nbproject/private/